<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body class ="<%= @image %>">
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script src="/js/boostrap.min.js"></script>
  </body>
</html>